body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "serif", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.quickLink a {
  color: rgba(0, 0, 0, 0.614);
  text-decoration: none;
  margin-right: 1.4rem;
  font-size: 1.2rem;
}

.quickLink a:hover {
  color: rgba(51, 0, 255, 0.732);
}

/* Slide Link */
.slide p:hover {
  border-left: 3px solid blue;
  padding-left: 10px;
}

/* About-Hero */
.about-hero div p {
  line-height: 1.75rem;
  word-spacing: 2px;
  font-size: 1.05rem;
}

/* Table */
table td {
  padding: 10px !important;
}
td ul {
  list-style-type: none;
}
/* Footer */
.foot-p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.479);
}

.foot-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foot-link a {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.495);
  font-weight: 500;
}

.foot-link a:hover {
  color: rgba(8, 0, 255, 0.839);
}

/* Link Tag Decoration*/
.link-Tag {
  text-decoration: none;
  font-weight: 500;
  color: rgba(0, 0, 191, 0.565);
}

.link-Tag:hover {
  color: black;
}